<h1> welcome to {{hotelName}}</h1>
<!-- <div [hidden]="hideRooms">
    Number of Rooms:
    <div [innerText]="numberOfRooms"></div>
</div> -->

<!-- {{ rooms?.availableRooms ?? 'No rooms'}} -->

<div *ngIf="rooms.availableRooms > 0 ">
    Rooms List:
    <!-- {{ roomList }} -->

    <table>
        <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Amenities</th>
            <th>Check in Time</th>
            <th>Check out Time</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let room of roomList; let e=even; let o = odd; let i =index;">
            <!-- <td>{{ e ? "Even": "Odd"}}</td> -->
            <!-- <td>{{ i }}</td> -->
            <td>{{ room.roomNumber}}</td>
            <td>{{ room.roomType}}</td>
            <td>{{ room.amenities}}</td>
            <td>{{ room.checkinTime}}</td>
            <td>{{ room.checkoutTime}}</td>
            <td>{{ room.price}}</td>
        </tr>
    </table>
</div>

<!-- <button (click)="toggle()">Toggle</button> -->